.preload
  div
    -webkit-transition none !important
    -moz-transition none !important
    -ms-transition none !important
    -o-transition none !important
  
  
/** KEYFRAMES **/
  
@keyframes left_show {
  0% {
    transform translateX(-40px);
    opacity: 0;
  }
  100% {
    transform translateX(0px);
    opacity: 1;
  }
}

@keyframes left_plus_show {
  0% {
    transform translateX(-10px);
    opacity: 0;
  }
  100% {
    transform translateX(0px);
    opacity: 1;
  }
}

@keyframes left_hide {
  0% {
    transform translateX(0px);
    opacity: 1;
  }
  100% {
    transform translateX(-40px);
    opacity: 0;
  }
}

@keyframes up_show {
  0% {
    transform translateY(40px);
    opacity: 0;
  }
  100% {
    transform translateY(0px);
    opacity: 1;
  }
}


/** AFTER LOADING **/

.hide_left
.mission_informations
.rover_informations
  opacity 0
  animation-name left_show
  animation-delay 0.2s
  animation-duration 0.5s
  animation-fill-mode forwards
  
.mission_informations
.rover_informations
  div
    opacity 0
    animation-name left_plus_show
    animation-duration 0.3s
    animation-fill-mode forwards
    for row in 1 2 3 4
      &:nth-child({row})
        animation-delay 0.25s * row
    
.galery
  opacity 0
  animation-name up_show
  animation-delay 0.4s
  animation-duration 0.5s
  animation-fill-mode forwards
  
.img-container
  opacity 0
  animation-name up_show
  animation-delay 0.75s
  animation-duration 0.5s
  animation-fill-mode forwards
  
  
/** IMAGE ACTIONS **/

.img_container:hover
  .img_actions
  .corner
  span
    display block