.form_popup
  position fixed
  bottom 0
  left 40%
  z-index 10
  width 250px
  padding 10px 20px
  background-color $red
  text-align center
  font-family 'Oxfam TSTAR PRO Headline'
  font-size 14px
  color $white

.login-box
  display flex
  justify-content space-around
  align-items center
  margin-top 50px
    
  .form_img
    position relative
    
    img
      height 400px
      width 400px
    
    .img_filter
      position absolute
      top 0
      left 0
      width 400px
      height 400px
      background-image linear-gradient(
  rgba(255, 195, 113, 0.5) 0%, rgba(255, 95, 109, 0.5) 100%)
    
  .form_text
    display inline-block
    width 320px
    
    .form_links
      position relative
      height 50px
      margin-bottom 30px
      border-bottom 2px solid $black
      
      .active
        font-family 'Oxfam TSTAR PRO Headline'
        border-bottom 2px solid $red
      
      .link_1
        position absolute
        left 0
        text-decoration none
        font-size 23px
        
      .link_2
        position absolute
        right 0
        text-decoration none
        font-size 23px
      
    form
      
      input[type="text"],
      input[type="password"] 
        display block
        box-sizing border-box
        margin-bottom 20px
        padding 4px
        width 320px
        height 32px
        border none
        border-bottom 1px solid $black
        font-family 'Roboto'
        font-weight 400
        font-size 15px
        
      input[type="text"]:focus,
      input[type="password"]:focus 
        border-bottom 2px solid $red
        color $red
        
      input[type="submit"] 
        margin-top 10px
        width 320px
        height 46px
        background-color $orange
        border none
        color $white
        text-transform uppercase
        transition 0.5s ease
        cursor pointer
        
      input[type="submit"]:hover,
      input[type="submit"]:focus 
        background-color $red
        transition 0.5s ease
        
        input[type="submit"]active 
          background-color $red
          transition 0.5s ease