$black = #212121
$white = #fefefe
$orange = #ffc371
$red = #ff5f6d

@font-face
  font-family 'Oxfam TSTAR PRO'
  src url('../fonts/OxfamTSTARPRO-Medium.eot')
  src url('../fonts/OxfamTSTARPRO-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OxfamTSTARPRO-Medium.woff2') format('woff2'),
    url('../fonts/OxfamTSTARPRO-Medium.woff') format('woff'),
    url('../fonts/OxfamTSTARPRO-Medium.ttf') format('truetype'),
    url('../fonts/OxfamTSTARPRO-Medium.svg#OxfamTSTARPRO-Medium') format('svg')
  font-style normal

@font-face
  font-family 'Oxfam TSTAR PRO Headline'
  src url('../fonts/OxfamTSTARPRO-Headline.eot')
  src url('../fonts/OxfamTSTARPRO-Headline.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OxfamTSTARPRO-Headline.woff2') format('woff2'),
    url('../fonts/OxfamTSTARPRO-Headline.woff') format('woff'),
    url('../fonts/OxfamTSTARPRO-Headline.ttf') format('truetype'),
    url('../fonts/OxfamTSTARPRO-Headline.svg#OxfamTSTARPRO-Medium') format('svg')
  font-style normal

@import 'form'
@import 'animations'
@import 'modal'
@import url('https://fonts.googleapis.com/css?family=Roboto')

body
  background-color $white
  font-family 'Oxfam TSTAR PRO'
  overflow-y overlay

.container
  padding 20px 20vh

/** LOADER **/  

.loader
  width 80px
  height 80px
  position fixed
  top "calc(50% - %s)" % (@height/2)
  left "calc(50% - %s)" % (@width/2)
  border 5px solid $white
  border-top 5px solid $red
  border-bottom 2px solid $red
  border-radius 50px


/** SCROLLBAR **/

::-webkit-scrollbar
  position fixed
  width 3px
  background-color $white

::-webkit-scrollbar-thumb
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,.3)
  background-color $red


/** BACK TO TOP **/

.back_top
  display none
  position fixed
  bottom 20px
  right 52px
  background-color $red
  width 40px
  height 40px
  transition all 0.3s ease

  img
    width 20px
    height 20px
    margin 10px


/** HEADER **/

header

  nav
    position relative
    padding 20px 20vh

    #home
      font-family 'Oxfam TSTAR PRO Headline'
      font-size 26px
      font-weight 800

      img
        height 19px
        width auto

    a
      text-decoration none
      color $black
      font-size 16px
      font-weight 700

    .nav_links
      position absolute
      top 30px
      right 20vh

      a
        margin-left 30px

      .active
        color $red
        font-weight 800
  
  
/** DROPDOWN MENU **/

.dropdown
  display none
  position fixed
  top 10px
  right 0
  z-index 20
  text-align right
  width 180px
  padding 5px 0px 0px 0px

  button
    color $white
    font-size 16px
    font-weight 700
    width 80px
    height 30px
    margin-bottom 5px
    background-color $red
    cursor pointer

  .dropdown_menu
    display none
    background-color $white
    border-top 2px solid $red
    padding-right 5px
    padding-bottom 5px
    
    a
      display block
      text-decoration none
      color $black
      font-size 16px
      font-weight 700
      margin-top 10px


/** INTRO COVER **/

.intro
  position relative
  margin-bottom 80px

  h1
    position absolute
    top 130px
    left -78px
    z-index 2
    font-family 'Oxfam TSTAR PRO Headline'
    color $black
    font-size 72px
    font-weight 800

    em
      color $white

  .intro_line_left
    position absolute
    top 215px
    left -80px
    width 100px
    height 1px
    border-bottom 2px solid $black 

  .intro_line_right
    position absolute
    top 215px
    left 0
    z-index 2
    width 100px
    height 1px
    border-bottom 2px solid $white

  span
    z-index 2
    color $white
    font-weight 600

  #discover
    position absolute
    top 210px
    left 110px

  #explore
    position absolute
    top 235px
    left 110px

  #live
    position absolute
    top 260px
    left 110px

  .intro_line_up
    position absolute
    bottom 0
    left 50%
    z-index 2
    width 1px
    height 60px
    border-left 2px solid $white 

  .intro_line_down
    position absolute
    bottom -57px
    left 50%
    z-index 2
    width 1px
    height 60px
    border-left 2px solid $black

  img
    max-width 100%


/** DESCRIPTION **/

.description
  position relative
  padding 0 5vh
  margin-bottom 140px
  display flex
  justify-content space-around
  align-items center

  .description_image
    position relative
    margin-right 20px

    h2
      position absolute
      top -34px
      left 10px
      font-family 'Oxfam TSTAR PRO Headline'
      font-size 36px
      font-weight 800
      color $red

      em
        color $white

    img
      width 300px

  .description_text
    margin-left 20px
    padding 0 25px
    width 500px

    h3
      font-family 'Oxfam TSTAR PRO'
      font-size 22px
      font-weight 600
      margin-bottom 20px

    p
      font-family 'Roboto'
      font-size 12px
      line-height 16px

  .description_line_down
    position absolute
    top 105%
    left 50%
    z-index 2
    width 1px
    height 100px
    border-left 2px solid $black


/** INSTRUMENTS **/

.instruments
  position relative
  padding 0 5vh
  margin-bottom 140px
  display flex
  justify-content space-around
  align-items center

  .instruments_image
    margin-right 20px
    position relative

    h2
      position absolute
      top -34px
      left 10px
      font-family 'Oxfam TSTAR PRO Headline'
      font-size 36px
      font-weight 800
      color $orange

      em
        color $white

    img
      width 300px

  .instruments_text
    margin-left 20px
    padding 0 25px
    width 500px

    h3
      font-family 'Oxfam TSTAR PRO'
      font-size 22px
      font-weight 600
      margin-bottom 20px

    p
      font-family 'Roboto'
      font-size 12px
      line-height 16px

  .instruments_line_down
    position absolute
    top 105%
    left 50%
    z-index 2
    width 1px
    height 100px
    border-left 2px solid $black


/** GALLERY **/

.gallery

  .gallery_title
    text-align center
    margin-bottom 20px

    h2
      display inline-block
      font-family 'Oxfam TSTAR PRO Headline'
      font-size 36px
      font-weight 800
      padding-bottom 10px
      border-bottom 2px solid $orange
  
  .gallery_display

    .img_container
      display inline-block
      position relative
      width 33%
      height 350px

      .img_img
        width 100%
        height 100%

  .add_popup
    display none
    position fixed
    bottom 0
    left 50% - 10px
    z-index 10
    width 250px
    padding 10px 20px
    background-color $orange
    text-align center
    font-family 'Oxfam TSTAR PRO Headline'
    font-size 14px
    color $white
    
@media screen and (min-width:800px) and (max-width:1000px)
  .container
    padding 20px 10vh
  .intro
    h1
      font-size 50px
      top 140px
      left 0
      em
        color $black
    .intro_line_up
      display none
  header
    nav
      padding 20px 10vh
      div
        right 10vh
  .gallery
    .gallery_display
      .img_container
        height 250px
        
@media screen and (max-width:800px)
  .container
    padding 10px 3vh
  header
    nav
      padding 10px 3vh
      .nav_links
        display none
  .dropdown
    display block
  .intro
    h1
      font-size 40px
      top 80px
      left 0px
      em
        color $black
    div
      display none
    .intro_line_down
      display block
  .description
    .description_image
      display none
  .instruments
    .instruments_image
      display none
  .gallery
    .gallery_display
      .img_container
        width 100%